
<div class="account">

  <form action="">
    <h3 class="card-title"> Üye Ol </h3>
   <input type="nameSurname" name="name" placeholder="Ad Soyad"  autocomplete="false">
   <input type="email" name="email" placeholder="E-Posta"  autocomplete="false">
   <input type="password" name="password" placeholder="Şifre">
   <input type="passwordConfirm" name="confirm" placeholder="Şifre Tekrar">
   <div>
     <button class="btn btn1 btn-success" routerLink="/"> Kaydet </button>
     <button class="btn btn2 btn-danger" routerLink="/login"> İptal </button>
   </div>

  </form>


</div>

