.d-flex button {
  width: 100px;
  background-color:mediumpurple;
  border-color: mediumpurple;
}

.navbar-brand{
  color: mediumpurple;
}

.d-flex .btn-account {
  width: 100px;
  background-color:#e74c3c;
  border-color: #e74c3c;
  border-radius: 10px;
  width: 160px;
  height: 40px;
  margin-left: 5px;
}

.d-flex .btn-account i {
  margin-left: 3%;
}
