
.card-img-top{
  height: 160px;
  width: 240px;
  margin: auto;
  color: darkkhaki;
}

.card-body {
  height: 200px;
}

.card img {
  margin-top: 20px;
}

.card-body h6 {
  font-size: small;
  margin-top: -18px;
}

.card-text {
  height: 65px;
  font-size: small;
}

.row .card {
  background-color:#e0ffcd;
}

.fav {
  margin-left: 8px;
}

.btn-section .btn1{
  width: 10rem;
  margin-right: 1rem;
  background-color: #e46161;
  border-color: #e46161;
}

.btn-section .btn2{
  width: 10rem;
  background-color: #e46161;
  border-color: #e46161;
}




