.btn-section .btn1{
  width: 40rem;
  margin-right: 1rem;
}

.btn-section .btn2{
  width: 40rem;
}

.card-img-top{
  height: 160px;
  width: 240px;
  margin: auto;
  color: darkkhaki;
}

.card-body {
  height: 200px;
}

.card-body h6 {
  font-size: small;
  margin-top: -18px;
}

.card-text {
  height: 65px;
  font-size: small;
}

.row .card {

  background-color:darkkhaki;
}

.fav {
  margin-left: 8px;
}




