<div class="card-body">


  <h3> Üyelik Bilgileriniz </h3>

  <p> Ad - Soyad   : </p>
  <p> E-posta      : </p>
  <p> Şifre        : </p>
  <p> Şifre Tekrar : </p>


  <form action="">
    <input type="nameSurname" name="name"   autocomplete="false">
    <input type="email" name="email"  autocomplete="false">
    <input type="password" name="password">
    <input type="passwordConfirm" name="confirm">

    <button class="btn btn1 btn-success" routerLink="/"> Bilgilerimi Düzenle </button>
    <button class="btn btn2 btn-danger" routerLink="/login"> İptal </button>

  </form>





</div>
